# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Uploads & Outputs
uploads/*
!uploads/.gitkeep
outputs/*
!outputs/.gitkeep

# Database
*.db
*.sqlite

# Environment
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
